# SCALING DATA

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Loading Data

In [2]:
data = pd.read_csv('C:\\Users\\Vivek hotti\\Desktop\\Practice\\ML DA\\housing.csv')

#### A little bit of data exploration

In [3]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

# <p style="color:red;">Scaling Data with MinMaxScaler</p>

<b><p style="color:blue;">We have to predict The Median House value using Housing_Median_Age and Population</p></b>

Scaling is essential used in machine learning algorithms that calculate distances between data. The range of all features should be normalized so that each feature contributes approximately proportionately to the final distance.

<div>
<img src="1.jpg" width="300" align="left"/>
</div>

Formula Used for Normalizing Values using the MinMaxScaler

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scaler = MinMaxScaler()
# initializing the function

Now if we need to perform pre-processing of data. 

### <b>Data Processing</b>
- dropping categorical data.  <i>(in this case: column Ocean_Proximity)</i>
- dropping rows with Null Values

In [6]:
data = data.drop(data.columns[[9]], axis = 1)
# dropping entire 10 th column (.i.e 9th index)

In [7]:
data = data.dropna(axis = 0)
# dropping entire rows where Null value is present

In [8]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0

### Using the Scaling (that was initalized earlier)

In [9]:
scaler.fit(data)
# passing above pre-processed data into scaler function which was initalized as the MinMaxScaling function earlier at cell 5.

MinMaxScaler()

In [10]:
scaled_data = pd.DataFrame(data = scaler.transform(data), columns = data.columns, index = data.index)
# new_dataframe_name=pd.DataFrame(data=sclaer.transform(datasetName), columns=data.columns, index-data.index)

In [11]:
scaled_data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0.211155,0.567481,0.784314,0.022331,0.019863,0.008941,0.020556,0.539668,0.902266
1,0.212151,0.565356,0.392157,0.180503,0.171477,0.067210,0.186976,0.538027,0.708247
2,0.210159,0.564293,1.000000,0.037260,0.029330,0.013818,0.028943,0.466028,0.695051
3,0.209163,0.564293,1.000000,0.032352,0.036313,0.015555,0.035849,0.354699,0.672783
4,0.209163,0.564293,1.000000,0.041330,0.043296,0.015752,0.042427,0.230776,0.674638
5,0.209163,0.564293,1.000000,0.023323,0.032899,0.011491,0.031574,0.243921,0.525155
6,0.209163,0.563231,1.000000,0.064423,0.075729,0.030578,0.084361,0.217873,0.585979
7,0.209163,0.563231,1.000000,0.078895,0.106456,0.032344,0.106233,0.180694,0.466804
8,0.208167,0.563231,0.803922,0.064932,0.103042,0.033717,0.097681,0.108998,0.436495
9,0.209163,0.563231,1.000000,0.090213,0.109559,0.043387,0.117250,0.220087,0.507423